<!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 10]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" xmlns:th="https://www.thymeleaf.org"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" xmlns:th="https://www.thymeleaf.org"></script>
<![endif]-->
<!-- Meta -->
<meta charset="utf-8" xmlns:th="https://www.thymeleaf.org"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" xmlns:th="https://www.thymeleaf.org"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"xmlns:th="https://www.thymeleaf.org" />
<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon" xmlns:th="https://www.thymeleaf.org" />
<!-- Google font-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet"  xmlns:th="https://www.thymeleaf.org"/>
<!-- Required Fremwork -->
<link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" xmlns:th="https://www.thymeleaf.org"/>
<link rel="stylesheet" type="text/css" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}" xmlns:th="https://www.thymeleaf.org"/>
<!-- themify-icons line icon -->
<link rel="stylesheet" type="text/css" th:href="@{/icon/themify-icons/themify-icons.css}" xmlns:th="https://www.thymeleaf.org"/>
<!-- ico font -->
<link rel="stylesheet" type="text/css" th:href="@{/icon/icofont/css/icofont.css}" xmlns:th="https://www.thymeleaf.org"/>
<!-- feather Awesome -->
<link rel="stylesheet" type="text/css" th:href="@{/icon/feather/css/feather.css}" xmlns:th="https://www.thymeleaf.org"/>
<!-- Style.css -->
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" xmlns:th="https://www.thymeleaf.org"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.mCustomScrollbar.css}" xmlns:th="https://www.thymeleaf.org" />